﻿<div class="col-md-6">
    <h4 class="mb-4">Bir Yorum Bırakın</h4>
    <small>Yorumunuzun alınması için geçerli bir email adresi giriniz.*</small>
    
    <form method="post" asp-action="AddComment" asp-controller="ProductList">
        <input type="hidden" name="ProductId" value="@ViewBag.x" />
        <div class="d-flex my-3">
            <div class="d-flex my-3">
                <p class="mb-0 mr-2">Ürün puanınız * :</p>
                <div class="text-primary" id="rating-stars">
                    <i class="far fa-star" data-value="1"></i>
                    <i class="far fa-star" data-value="2"></i>
                    <i class="far fa-star" data-value="3"></i>
                    <i class="far fa-star" data-value="4"></i>
                    <i class="far fa-star" data-value="5"></i>
                </div>
            </div>
        </div>
        <input type="hidden" id="selected-rating" name="Rating" value="0">
        <div class="form-group">
            <label for="name">Adınız soyadınız *</label>
            <input type="text" class="form-control" id="name" name="NameSurname">
        </div>
        <div class="form-group">
            <label for="email">Email adresiniz *</label>
            <input type="email" class="form-control" id="email" name="Email">
        </div>
        <div class="form-group">
            <label for="message">Yorumunuz *</label>
            <textarea id="message" cols="30" rows="5" class="form-control" name="CommentDetail"></textarea>
        </div>
        <div class="form-group mb-0">
            <input type="submit" value="Yorum Yap" class="btn btn-primary px-3">
        </div>
    </form>
</div>
<script>
    const stars = document.querySelectorAll('#rating-stars i');
    const ratingInput = document.getElementById('selected-rating');

    stars.forEach(star => {
        star.addEventListener('click', () => {
            const ratingValue = star.getAttribute('data-value');
            ratingInput.value = ratingValue;

            // Tüm yıldızları temizle
            stars.forEach(s => s.classList.remove('fas'));
            stars.forEach(s => s.classList.add('far'));

            // Seçilen yıldıza kadar olanları doldur
            for (let i = 0; i < ratingValue; i++) {
                stars[i].classList.remove('far');
                stars[i].classList.add('fas');
            }
        });
    });
</script>
